@model Vidly.Models.Movie
@{
    ViewBag.Title = "New";
}

<h2>New Movie</h2>

@using (Html.BeginForm())
{
    <div class="form-group mt-4">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-lg w-50" })
    </div>

    <div class="form-group mt-4">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, new { @class = "form-control form-control-lg w-50" })
    </div>

    <div class="form-group mt-4">
        @Html.LabelFor(m => m.DateAdded)
        @Html.TextBoxFor(m => m.DateAdded, new { @class = "form-control form-control-lg w-50" })
    </div>

    <div class="form-group mt-4">
        @Html.LabelFor(m => m.NumberInStock)
        @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control form-control-lg w-50" })
    </div>

    <div class="form-group mt-4">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId, new SelectList( new string[] { "Comedy", "Horror" } ), "Select a Genre", new { @class = "form-control form-control-lg w-50" })
    </div>

    <button type="submit" class="btn btn-primary btn-lg mt-4 px-5">Save</button>
 }

